@import 'tailwindcss';

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

@theme {
  --color-light-cyan: var(--light-cyan);
  --color-neon-green: var(--neon-green);
  --color-grayish-blue: var(--grayish-blue);
  --color-dark-grayish-blue: var(--dark-grayish-blue);
  --color-dark-blue: var(--dark-blue);
}

body {
  background-color: var(--dark-blue);
  color: var(--light-cyan);
}